/* mild css reset */
html,
body,
div,
span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: sans-serif;
  color: var(--text-color);
}

input[type="checkbox"] {
  accent-color: var(--accent-color);
}

:root {
  --text-color: #07090d;
  --primary-color: #ffffff;
  --secondary-color: #bbdffc;
  --tertiary-color: #4caaf7;
  --accent-color: #0c6bb8;
  --accent-shadow: #06375f;
  --primary-button:#108df4;
  --contrast-color: #848484;

  --icon-size: 1.5em;
  --prose-font: "Montserrat";
  font-family: sans-serif;
  background-color: var(--primary-color);
}

/* This is not optimal but done just to speed up the creative process somewhat, it's
    just to prevent auto-sizing to 0px when making a rough draft of components with icons */
img {
  height: 70%;
}

/* This class is used mainly for buttons that cover the icons, which are needed for accessibility's sake. */
.invisible {
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  border: none;
}

.todo-container {
  min-width: 300px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1em 1em 1em 1em;
  margin-bottom: 0.5em;
  background-color: var(--secondary-color);
  font-family: var(--prose-font);
}

.card {
  width: 12em;
  height: 9em;
  border: 1px solid var(--contrast-color);
  border-radius: 0.5em;
  margin-right: 0.8em;
}
