---
import MainLayout from "../layouts/MainLayout.astro";
import Areas from "../components/PAG/Areas.svelte";
---

<MainLayout>
    <h1>Landing here</h1>
    <a href="/todo-page">Click here</a>

    <Areas client:load />
</MainLayout>
