---
import MainLayout from "../layouts/MainLayout.astro";
import Todos from "../components//todos/Todos.svelte";
---

<MainLayout>
  <h1>Todos</h1>
  <div class="todos">
    <Todos client:load />
  </div>
</MainLayout>

<style>
  h1 {
    margin-left: 1em;
  }
  .todos {
    width: 45%;
    margin-left: 1em;
  }
</style>
