---
import MainLayout from "../layouts/MainLayout.astro";
import Todos from "../components/Todos.svelte";
---

<MainLayout>
	<h1>Todos</h1>
	<div class="todos">
		<Todos client:load />
	</div>
</MainLayout>

<style>
	.todos {
		width: 45%;
	}
</style>
